div.field-addresslocation p {
	color: #2f77eb;
	margin: 0 0 1.5rem;
}

div.field-addresslocation label {
	box-sizing: border-box;
	margin: 0 0 3rem;
	padding-right: 3rem;
	width: 50%;
}

@media (max-width: 767px) {
	div.field-addresslocation label {
		width: 100%;
	}
}

div.field-addresslocation label.street {
	width: 100%;
}

div.field-addresslocation label.latitude input,
div.field-addresslocation label.longitude input {
	color: #7F7F7F;
}

div.field-addresslocation label input {
	clear: both;
}

div.field-addresslocation div.locate {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	margin: 0 0 2em;
	width: 100%;
}

div.field-addresslocation div.locate a.mapswitch {
	float: right;
	text-decoration: none;
}

div.field-addresslocation div.locate input {
	color: #fff;
	font-size: 1.1rem;
	text-transform: uppercase;
	line-height: 1.6rem;
	margin: 0 1rem 0 0;
	padding: 1rem 1.5rem;
	border-radius: 5px;
	border: none;
	background: #2f77eb;
	width: auto;
	cursor: pointer;
}

div.field-addresslocation div.locate input:not(:disabled):hover {
	background: #121212;
}

div.field-addresslocation div.locate input:disabled {
	opacity: 0.5;
	pointer-events: none;
}

div.field-addresslocation div.main-wrapper {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 0 0 3rem;
	padding: 1.5rem;
	border: 1px solid #d3dce2;
}

div.field-addresslocation div.main.address {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: calc(100% + 3rem);
}

div.field-addresslocation div.main.map {
	width: 100%;
	height: 200px;
}

div.field-addresslocation div.gm-style-cc {
	display: none;
}
